@mixin backImage($image, $position, $origin: 0) {
    background: url($image) $position $origin;
}

@mixin setDimensions($width: 100px, $height: 100px) {
    width: $width;
    height: $height;
}

@mixin setHeadingsTagStyle($color, $font-weight, $font-size, $line-height: 0, $margin-bottom: 40px) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

@mixin largeSizeDeviceMediaStyle($arg) {
    @media (max-width: $arg) {
        @content;
    }
}

@mixin mediumSizeDeviceMediaStyle($arg) {
    @media (max-width: $arg) {
        @content;
    }
}

@mixin smallSizeDeviceMediaStyle($arg) {
    @media (max-width: $arg) {
        @content;
    }
}